### From Part I: Model is named `model.pkl`

```
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype  
---  ------            --------------  -----  
 0   age               370 non-null    float64
 1   gender            370 non-null    int32  
 2   work_interfere    370 non-null    int32  
 3   family_history    370 non-null    int32  
 4   care_options      370 non-null    int32  
 5   benefits          370 non-null    int32  
 6   obs_consequence   370 non-null    int32  
 7   anonymity         370 non-null    int32  
 8   wellness_program  370 non-null    int32  
 9   seek_help         370 non-null    int32  
 10  leave             370 non-null    int32  
```

In [1]:
import joblib
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
input_data=pd.read_csv("input/test_model.csv")
input_data.head()

,age,gender,work_interfere,family_history,care_options,benefits,obs_consequence,anonymity,wellness_program,seek_help,leave
0,23,1,3,0,1,1,0,0,1,1,4
1,18,1,3,1,1,1,0,0,1,0,1
2,69,1,4,0,1,1,0,2,1,1,4
3,79,1,4,1,0,0,0,0,1,0,3
4,54,1,4,1,2,1,1,2,1,1,4

In [3]:
scaler = MinMaxScaler()
input_data["age"] = scaler.fit_transform(input_data[["age"]])
input_data.head()

,age,gender,work_interfere,family_history,care_options,benefits,obs_consequence,anonymity,wellness_program,seek_help,leave
0,0.060976,1,3,0,1,1,0,0,1,1,4
1,0.000000,1,3,1,1,1,0,0,1,0,1
2,0.621951,1,4,0,1,1,0,2,1,1,4
3,0.743902,1,4,1,0,0,0,0,1,0,3
4,0.439024,1,4,1,2,1,1,2,1,1,4

In [4]:
# Load model from file
classifer = joblib.load("output/model.pkl")

predictions = classifer.predict(input_data)
# Index is tagged to each role as an identifier
results = pd.DataFrame({
    "Index": input_data.index, 
    "Treatment": predictions
})
# Save to file
# results.to_csv("output/results.csv", index=False)
results.head()

   Index  Treatment
0      0          0
1      1          1
2      2          1
3      3          1
4      4          1